
<%- include('./src/assets/parts/Header.html', {title:"Les bandes dessinées"})%>

<%- include('./src/assets/parts/Hero-2.html')%>
  <section class="personnage">
    <div class="container narrow-md">
      <div class="row">
        <div class="col-8 col-xs-12">
          <div class="content">
            <h2 class="h2">
              Mélomane averti soucieux de protéger l’ouïe de ses condisciples, expert sanitaire en poissons.
            </h2>
            <p>
              Depuis sa toute première apparition dans Astérix le Gaulois, sous les yeux ébahis d’un «Caligulaminix» qui le découvre forgeant à main nue, Cétautomatix a beaucoup changé d’aspect, abandonnant les traits d’un gaulois blond et rondouillard pour ceux plus altiers qu’il arbore fièrement sous son légendaire tablier de cuir. Plus que tout autre, il symbolise ainsi le souci de perfection d’Albert Uderzo, qui n’a de cesse d’améliorer les graphismes de ses personnages.
            </p>
            <p>
              En revanche, question caractère, Cétautomatix reste égal à lui-même, c’est à dire une brute épaisse au raffinement certainement bien caché qui ne communique avec ses congénères qu’en tapant, toujours. Avec ses poings, bien sûr, et les traits cinétiques qu’Albert Uderzo dessine si souvent dans le mouvement de son bras droit en font quasiment un bras mécanique dont la seule fonction semble être de frapper. Mais aussi par ses critiques peu constructives qui n’ont pas fini d’agacer Assurancetourix («Non, tu ne chanteras pas !»), Agecanonix («Vieux débris !»).
            </p>
            <p>
              Et surtout, c’est toujours lui, on ne le redira jamais assez, qui informe ses amis de la fraîcheur douteuse du poisson de son collègue d’en face, Ordralfabétix. On peut deviner que les auteurs ont puisé dans la culture des westerns américains des années cinquante, dont ils étaient fans, le caractère festif des amateurs de bagarres générales dont a hérité Cétautomatix !
            </p>
 
          </div>
        </div>
        <div class="col-4 col-xs-12">
          <figure>
            <img src="./src/assets/img/cetautomatix-img.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>
<%- include('./src/assets/parts/Footer.html')%>

   