
<%- include('./src/assets/parts/Header.html', {title:"Les Gaulois"})%>

   <%- include('./src/assets/parts/Hero-1.html', {
    title:"Les Gaulois", 
    content:" <p>Gaulois, Romains, Goths, Égyptiens… Sans oublier les Pirates ! Découvrez les secrets des personnages d’Astérix, des plus célèbres aux plus mystérieux (Saingésix, ça vous dit quelque chose ?). L’objectif de Panoramix pour ce trombinoscope version 50 avant J.-C. : rien moins qu’un dictionnaire exhaustif des personnages d’Astérix !</p>", 
    img:"les-gaulois-img.png"})%>
     <section class="livres">
       <div class="container narrow-md">
         <div class="row">
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Abraracourcix",
              date:"1961",
              img:"gaulois/abraracourcix.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Acidenitrix",
              img:"gaulois/acidenitrix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Adrénaline",
              img:"gaulois/adrenaline.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Agecanonix",
              img:"gaulois/agecanonix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Alambix",
              img:"gaulois/Alambix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Amérix",
              img:"gaulois/amerix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Amnésix",
              img:"gaulois/amnesix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Aniline",
              img:"gaulois/aniline.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Aplusbégalix",
              img:"gaulois/aplusbegalix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Archéoptérix",
              img:"gaulois/archeopterix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Assurancetourix",
              img:"gaulois/assurancetourix.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Astérix",
              img:"gaulois/asterix.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Astronomix",
              img:"gaulois/astronomix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Avoranfix",
              img:"gaulois/avoranfix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Barométrix",
              img:"gaulois/barometrix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Beaufix",
              img:"gaulois/beaufix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Berlix",
              img:"gaulois/berlix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Bonemine",
              img:"gaulois/bonemine.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Boufiltre",
              img:"gaulois/boufiltre.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Catédralgotix",
              img:"gaulois/catedralgotix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "César Labeldecadix",
              img:"gaulois/cesar-labeldecadix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Cétautomatix",
              img:"gaulois/cetautomatix.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Cétyounix",
              img:"gaulois/cetyounix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Changéledix",
              img:"gaulois/changeledix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Chanteclairix",
              img:"gaulois/chanteclairix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Cicatrix",
              img:"gaulois/cicatrix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Comix",
              img:"gaulois/comix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Coriza (Zaza)",
              img:"gaulois/CorizaZaza.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Diagnostix",
              img:"gaulois/diagnostix.gif"
            })%>
          </div>
         </div>
       </div>
     </section>
     <%- include('./src/assets/parts/Footer.html')%>

   