
<%- include('./src/assets/parts/Header.html', {title:"Les Romains"})%>

   <%- include('./src/assets/parts/Hero-1.html', {
    title:"Les Romains", 
    classes:"page-personnages",
    content:" <p>Gaulois, Romains, Goths, Égyptiens… Sans oublier les Pirates ! Découvrez les secrets des personnages d’Astérix, des plus célèbres aux plus mystérieux (Saingésix, ça vous dit quelque chose ?). L’objectif de Panoramix pour ce trombinoscope version 50 avant J.-C. : rien moins qu’un dictionnaire exhaustif des personnages d’Astérix !</p>", 
    img:"jules-cesar-img.png"})%>
     <section class="gaulois">
       <div class="container narrow-md">
         <div class="row">
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Absolumentexclus",
              img:"romains/Absolumentexclus.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Anglaigus",
              img:"romains/Anglaigus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Astérus",
              img:"romains/Asterus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Ballondebaudrus",
              img:"romains/Ballondebaudrus.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Bégonia",
              img:"romains/Begonia.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Biscornus",
              img:"romains/Biscornus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Bonus Promoplus",
              img:"romains/Bonus-Promoplus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Bonusmalus",
              img:"romains/Bonusmalus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Briseradius",
              img:"romains/Briseradius.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Brutus",
              img:"romains/Brutus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Aérobus",
              img:"romains/Caius-Aerobus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Bonus",
              img:"romains/Caius-Bonus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Eucaliptus",
              img:"romains/Caius-Eucaliptus.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Joligibus",
              img:"romains/Caius-Joligibus.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Marchéopus",
              img:"romains/Caius-Marcheopus.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Obtus",
              img:"romains/Caius-Obtus.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Saugrenus",
              img:"romains/Caius-Saugrenus.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Caius Soutienmordicus",
              img:"romains/Caius-Soutienmordicus.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Boufiltre",
              img:"romains/boufiltre.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Catédralgotix",
              img:"romains/catedralgotix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "César Labeldecadix",
              img:"romains/cesar-labeldecadix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Cétautomatix",
              img:"romains/cetautomatix.jpg"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Cétyounix",
              img:"romains/cetyounix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Changéledix",
              img:"romains/changeledix.png"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Chanteclairix",
              img:"romains/chanteclairix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Cicatrix",
              img:"romains/cicatrix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Comix",
              img:"romains/comix.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Coriza (Zaza)",
              img:"romains/CorizaZaza.gif"
            })%>
          </div>
          <div class="col-3 col-sm-6">
            <%- include('./src/assets/parts/Card-2.html',{
              title: "Diagnostix",
              img:"romains/diagnostix.gif"
            })%>
          </div>
         </div>
       </div>
     </section>
     <%- include('./src/assets/parts/Footer.html')%>

   