@use './fonts';

.card-1{
    --content-margin:.5rem;
    max-width: 300px;
    margin-inline: auto;
    text-align: center;
    box-shadow: 0px 0px 15px var(--grey);

    figure{
        height: 300px;
        overflow: hidden;

        img{
            transition: transform var(--transition-time) ease;
        }

        &:hover img{
            transform: scale(1.1);
        }
    }

    .content{
        height: 150px;
        margin-top: 1rem;

        .h4{
            color: var(--red);
        }

        .date{
            color: var(--grey);
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 1.7rem;
        }
    }

    a{
        @extend %fontUderzo;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
        font-size: 2.3rem;
        font-weight: 400;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--grey);
        color: var(--white);
        padding: 2.5rem 1.5rem 1rem;
        will-change: background-color;
        transition: background-color var(--transition-time) ease;

        &:hover{
            background-color:var(--red);
        }
    }

}