@use './fonts';

.newsletter{

    &::before{
        content: '';
        width: 100%;
        position: absolute;
        height: 100px;
        bottom:100%;
        z-index: -1;
        background-color: var(--gray);
        left:0;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }

    background-color: var(--gray);
    min-height:50vh;
    padding-bottom: 200px;
    display: grid;
    place-content: center;
    text-align: center;

    .wallpaper{
        inset: inherit;
        bottom: 0;
        z-index: 0;
    }

    .h2 span{
        color: var(--red);
    }

    .description,
    .rgpd{
        font-size: 1.4rem;
        line-height: normal;
    }

    .rgpd{
        font-size: 1.1rem;
    }

    .send{
        display: flex;
        justify-content: start;

        .btn{
            font-size: 1.5rem;
            line-height: 2rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    form{
        position: relative;
        z-index: 1;
        padding: 5rem;
        border-radius:20px;
        background-color: var(--white);

        input,
        select{
            border-radius: 50px;
            border:none;
            padding: .7rem;
            background-color: var(--gray);
        }

        .col-6{
            text-align: right;
        }

        .lessThan15{
            text-align: left;
        }
    }
}



footer{

    

    .sitemap{

    }

    .legal_contact{

    }

}