@use './fonts';
@use './mixins' as *;

.newsletter{
    position: relative;
    &::before{
        content: '';
        width: 100%;
        position: absolute;
        height: 100px;
        bottom:99%;
        z-index: -1;
        background-color: var(--gray);
        left:0;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }

    background-color: var(--gray);
    min-height:70vh;
    padding-bottom: 200px;
    display: grid;
    place-content: center;
    text-align: center;

    .wallpaper{
        inset: inherit;
        bottom: 0;
        z-index: 0;
    }

    .h2 span{
        color: var(--red);
    }

    .description,
    .rgpd{
        font-size: 1.4rem;
        line-height: normal;
    }

    .rgpd{
        font-size: 1.1rem;
    }

    .send{
        display: flex;
        justify-content: start;

        .btn{
            font-size: 1.5rem;
            line-height: 2rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    form{
        position: relative;
        z-index: 1;
        padding: 5rem;
        border-radius:20px;
        background-color: var(--white);

        input,
        select{
            border-radius: 50px;
            border:none;
            padding: .7rem;
            background-color: var(--gray);
        }

        .col-6{
            text-align: right;
        }

        .lessThan15{
            text-align: left;
        }
    }
}



footer{

    

    .sitemap{
        color: var(--white);
        padding-block: 5rem;
        position: relative;
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before{
            content: '';
            background-color: var(--grey);
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100;
            z-index: -2;
        }

        .wallpaper{
            object-fit: cover;
            object-position: 100%;
            z-index: -1;
            inset: inherit;
            bottom: 0;
        }

        h2{
            text-align: center;
            margin-bottom: 3rem;
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 900;
        }

        .h4{
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }

        a{
          color: var(--white);
          display: block;
          font-size: 1.2rem;
          line-height: 2.2rem;
          font-weight: 400;  
        }
    }

    .legal_contact{
        background-color: var(--yellow);
        color: var(--grey);
        font-size: 1.1rem;
        line-height: normal;
        font-weight: 700;
        padding-block: 2rem;
        a{
          color: var(--grey);
          font-size: 1.1rem;
          line-height: 2.2rem;
          font-weight: 700;  
        }

        .btn{
            font-size: 1.5rem;
            line-height: 3.5rem;
            font-weight: 700;
            background-color: var(--white);
            color: var(--grey);
            text-transform: uppercase;
        }

        .contact{
            text-align: right;
        }
    }

}









@include query(xs){
    footer{
        h2.h4{
            text-align: left;
        }
    }
}