@use './fonts';
@use './mixins' as *;

%borderBottom{
    border-bottom: var(--white) 1px solid;
}

%borderRight{
    border-right: var(--white) 1px solid;
}

header{

    a{
        color:var(--white);
        will-change: color;
        transition: color .5s ease;
        &:hover{
          color: var(--yellow);
        }
    }

    li{
        position: relative;

        &:hover .sub-menu{
            display: flex;
        }
       
    }

    li:not(.hbg){
        padding-inline: 2%;
        min-width: fit-content;

        & > a{
            @extend %fontUderzo;
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: normal;
            font-weight: 400;
            display: inline-block;
            text-align: center;
        }

        
    }

    .logo img{
        width: 250px;
    }

    .logo_search{

        padding: 3rem 13rem;
        display: flex;

        & > *{
            flex:1
        }
    }

    .mobile_langs_search{
        display: flex;
        justify-content: end;

        .hbg{
            display: none;
            height: 40px;
            width: 40px;
            position:relative;
            background-color: var(--blue);
            border-radius: 100%;

            span{
                position: absolute;
                width: 60%;
                background-color: var(--white);
                height: 2px;
                left:0;
                right: 0;
                margin-inline: auto;
                top: calc( var(--pos) * 10px );
                will-change: top;
                transition: top .5s ease .6s, transform .5s ease, opacity .1s ease .6s;
            }
        }
    }

    nav{
        background-color: var(--red);
        padding-block: 1rem;

        & > a{
            color:var(--white);
            &:hover{
                color: var(--yellow);
            }
        }

        .container{
            & li:not(:last-child){
                @extend %borderRight;
            }

            display: flex;
            align-items: center;
            justify-content: center;
  
        }
        
    }


    .sub-menu{
        position: absolute;
        z-index: 5;
        width: 300px;
        background-color: var(--red);
        left: 0;
        top:100%;
        display: none;
        flex-flow: column;
        padding: 5px 25px;

        :not(:last-child){
             @extend %borderBottom;
        }

        a{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.6rem;
            padding-block: 10px;
        }
    }

}
































@include query(xs){

    header{

        &.open{

            nav{
                max-height: 500px;
            }

            .hbg span{

                transition: top .5s ease, transform .5s .6s, opacity .1s .6s;

                &:nth-child(2){
                    opacity: 0;
                }

                &:last-child,
                &:first-child{
                    top:20px;
                }

                &:first-child{
                    transform: rotate(45deg);
                }

                &:last-child{
                    transform: rotate(-45deg);
                }
            }
            
        }

        a:not(.hbg){
            text-align: left;
            padding-inline: 0;
            padding-block: 1rem;
        }

        .logo_search{
            padding: 3rem;
            flex-flow: column;

            .logo{
                margin-inline: auto;
            }
        }

        .mobile_langs_search{
            order: -1;
            .hbg{
                display: block;
            }
        }

        nav{
            max-height: 0;
            position: absolute;
            width: 100%;
            overflow: hidden;
            padding-block:0;
            will-change: max-height;
            transition: max-height var(--transition-time) ease;
            z-index: 10;
            

            br{
                display: none;
            }

            .container{
                flex-flow: column;
                width: 95%;
                align-items: stretch;
                padding-block: 1rem;

                & li:not(:last-child){
                    border-right: none;
                    border-bottom: var(--white) 1px solid;
                    
                }
            }
        }


    }

}





