@use './mixins' as *;

.hero-1{
    color: var(--white);
    background-color: var(--blue);
    position: relative;

    .content{
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    figure{
        text-align: center;
    }


    p{
        font-size: 1.9rem;
        line-height: 2.2rem;
        font-weight: 400;
    }

    &::after{
        content: '';
        position: absolute;
        height: 300px;
        width: 100%;
        top:99%;
        left:0;
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
        background-color: var(--blue);
    }

}



@include query(sm){
    .hero-1{
        text-align: center;

    }
}