%base-icon{
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    background-color: var(--white);
}

.icon-arrow{
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/></svg>');
    @extend %base-icon;
}