<section class="hero-1 <%= classes %>">
    <div class="container narrow-md">
        <div class="row">
            <figure class="col-6 col-sm-12">
                <img  src="./src/assets/img/<%= img%>" alt="<%= title %>">
            </figure>
            <div class="col-6 col-sm-12">
                <div class="content">
                    <h1 class="h1">
                        <%= title %>
                    </h1>
                   
                    <%- content %>

                </div>
            </div>
        </div>
    </div>
</section>